
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
     font-family: sans-serif;
     line-height: 1.4;
}

.index {
     background: linear-gradient(213deg, rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.836)),  url(../images/background-001.jpg);
     background-size: 120% 100%;
}
 
 /*----------------------Heading-----------------------*/
 
 .picture-of-me {
     background: url("../images/IMG_9595.jpg") center center;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100%;
     padding: 20px;
     border-radius: 50%;

     animation-name:picture-of-me-zoom;
     animation-duration: 5s;
     animation-fill-mode: backwards;
 }

 @keyframes picture-of-me-zoom {
     from { transform: scale(1.1); }
     to { transform: scale(1); }
}
 
 /*
 .list-inline-item:not(:last-child) {
     margin: 0;
 } */
 
 .menucontainer {
     font-size: 0;
 }
 
 #menu li {
     font-size: 14px;
     padding: 0;
     padding-top: 50px;
 }
 .element.style {
      border-top-width: inherit;
 }
 
 .name {
      padding-top: 80px;
      padding-left: 40px;
      margin: 0;
 }

 #menu {
     margin: 0;
     padding-top: 15px;
 }
 
/*-----------braking-point-menu-for-iphone-----------*/
@media screen and (max-width: 600px)  {
      .list-inline {
       font-size: small;
       flex-direction: column;
       margin-top: auto;
       text-align: center;
     }
   }
 /*---------------------------------------------------*/

#menu a {
     text-decoration: none;
     font-size: 2rem;
     color: #f8f8f8;
}

#menu a:hover {
     border-bottom: 1px solid #F8F8FF;
}

 .menuitem {
     height: 120px;
     text-align: center;
     padding: 0;
 }
 
 .menuitem a {
     text-align: center;
     color: #fafafa;
 }

/*-------------------Heading----------------------*/
/*
header {
     background-color: rgba(0, 0, 0, 0.2);
}
*/
#circle-container {
     width: 260px;
     height: 260px;
     padding: 20px;
     border-style: solid;
     border-color: #F8F8FF;
     border-width: 1px;
     border-radius: 50%;
     margin: 15% auto;
}

#circle-container p {
     margin: 25px 0px 0px 0px;
     font-size: 30px;
     list-style: none;
     letter-spacing: 1px;
     width: 200px;
}

#header-picture {
     width: 100%;
     height: 100%;
     max-height: 100%;
     margin: 0;
     padding: 0;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-001.jpg);
     background-size: 100%;
     background-repeat: no-repeat; */
     color: #f8f8f8;
}

.active{
     border-bottom: 1px solid #f8f8f8;  /*göm inte att göra en active till dom andra indexen också till language*/
     
}

/*--------------------Section-----------------------*/

#menu-info {
     text-align: center;
}

.section-heading {
     color: #f8f8f8;
     text-shadow: 1px 1px rgb(0, 0, 0);
     font-weight: bold;
}

.key {
     font-size: 100%;
     font-weight: bold;
     color: #f8f8f8;
     text-shadow: 1px 1px rgb(0, 0, 0);
}
.value {
     color: rgb(177, 177, 177);
     text-shadow: 1px 1px rgb(0, 0, 0);
}
.personal-info-item {
     padding: 0;
}

.section-column {
    color: #f8f8f8;
    text-shadow: rgb(0, 0, 0);
    text-align: left;
}

.three-reasons-heding {
     color: #f8f8f8;
     text-shadow: 1px 1px black;
     text-align: center;
}

/*---------------------Footer------------------------*/

footer {
     
     width: 100%;
     overflow: hidden;
     min-height: 100px;
     margin: 0;
     text-align: center;
     
}

footer h5 {
     font-size: 20px;
     color: #f8f8f8;
    /* text-shadow: 1px 1px rgb(158, 145, 145);*/
     
}

.social-links i {
     color: #f8f8f8;
     /*text-shadow: 1px 1px rgb(185, 194, 135);*/
     text-align: center;
     letter-spacing: 10px;
     font-size: 22px;
     margin: 5px;
     
}

.social-links i:hover {
     color: rgb(134, 144, 163);
}

.fa-download {
     color: #f8f8f8;
    /* text-shadow: 1px 1px gainsboro; */
     text-align: center;
     letter-spacing: 15px;
     font-size: 22px;
     margin-bottom: 10px;
}

.fa-download:hover {
     color: rgb(134, 144, 163);
}

#details-in-footer {
     padding-top: 20px;
     padding-bottom: 10px;
     /*
     background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(155, 153, 177, 0.918) 7%, rgba(18, 114, 76, 0.64) 61%, rgba(57, 144, 161, 0.404) 100%);*/
}

#details-in-footer p {
     color: #f8f8f8;
    /* text-shadow: 1px 1px rgba(102, 99, 99, 0.603);*/
     font-size: 14px;
     
}

/*------------------------Contact-------------------------*/

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;

}

.container {
     max-width: 960px;
     margin: auto;
     overflow: hidden;
     padding: 0 3rem;
}

.showcase {
     background-color: rgba(5, 133, 101, 0.521);
     color: #f8f8f8;
     height: 100vh;
     position: relative;
}

.showcase:before {
     content: '';
     background: url(../images/background-003.jpg) no-repeat center center/cover;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
}

.showcase .showcase-inner {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     height: 100%;
}

.showcase h1 {
     font-size: 4rem;
}

.showcase p {
     font-size: 1.3rem;
}

/* ----------------------------Contact-button-------------------------*/

.btn {
     display: inline-block;
     border: none;
     background-color: rgba(5, 133, 101, 0.521);
     color: #f8f8f8;
     padding: 0.75rem 1.5rem;
     margin-top: 1rem;
     text-decoration: none;
     transition:  1s ease-in;
}

.btn:hover {
     opacity: 1;
}

 .center-form {
     padding-top: 10px;
     margin: 0 auto;
     max-width: 70%;
 }
 
 button[type="submit"] {
     margin-top: 15px;
     margin-bottom: 20px;
     color: #fafafa;
     background-color: #08a822;
 }
 
 /* -----------------------Media Queries------------------*/
 
 @media(min-width: 992px) {
     .center-form {
         padding-top: 30px;
         min-height: 240px;
         margin: 0 auto;
         max-width: 50%;
     }
 }

 /*-------------------------Resume---------------------------*/

 .resume {
     background: linear-gradient(0deg, rgba(5, 133, 101, 0.521), rgba(5, 133, 101, 0.521)), url(../images/background-003.jpg) no-repeat center center/cover;
     background-size: 120% 100%;
 }
 /*
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;

}

.container {
     max-width: 960px;
     margin: auto;
     overflow: hidden;
     padding: 0 3rem;
}*/

/*
.showcase-resume {
    
}
*/
.section-heading-skills {
     padding-top: 100px;
     color: #f8f8f8;
     text-shadow: 1px 1px rgb(0, 0, 0);
     font-weight: 500;
     text-align: center;
     margin-bottom: 50px;
}

 .three-reasons-heading {
     margin-bottom: 15px;
     color: black;
     text-shadow: 1px 1px rgb(255, 255, 255);
 }

 .history-heading {
     padding-top: 100px;
     color: #f8f8f8;
     text-shadow: 1px 1px rgb(0, 0, 0);
     font-weight: 500;
     text-align: center;
     margin-bottom: 50px;
 }
 
 .timeline-item {
     padding: 4em 2em 0em 2em;
     position: relative;
     color: yellow;
     border-left: 1px solid;
 }
 
 .timeline-item p {
     padding: 0;
     margin: 0;
 }
 
 .timeline-item:before {
     content: attr(data-dates);
     position: absolute;
     left: 2.5em;
     top: 3em;
     display: block;
     font-family: "Exo", sans-serif;
     font-weight: 500;
     font-size: 0.8em;
     padding: 0;
     margin: 0;
 }
 
 .timeline-item:after {
     width: 12px;
     height: 12px;
     display: block;
     top: 2.4em;
     position: absolute;
     left: -6px;
     border-radius: 12px;
     content: '';
     background: rgb(204, 28, 28);
 }
 
 .history-items {
     margin-bottom: 30px;
 }

 .certificate-heding {
      text-align: center;
      padding-top: 50px;
      margin-bottom: 15px;
     color: black;
     text-shadow: 1px 1px rgb(255, 255, 255);
 }

 .certificate-list {
     padding-top: 100px;
     text-align: center;
     
 }
 /*------------------------About-----------------------*/

 .about-picture {
      max-width: 100%;
      height: auto;
 }