

/*--------------------Color--------------------*/




/*-------------------Heading----------------------*/


.picture-of-me {
     background-image: url(../images/IMG_9595.jpg);
     min-height: 200px;
     background-size: cover;
     border-radius: 50%;
}



/*--------------------Section-----------------------*/








/*---------------------Fotter------------------------*/




