
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Economica|Exo&display=swap');

/*-------------background picture and portfolio picture----------------------*/

html, body {
     background: linear-gradient( rgba(3, 80, 61, 0.62), rgba(3, 80, 61, 0.62)),  url(../images/background-picture.jpg) no-repeat;
     background-size: cover;
     position: relative;
     background-position: center;
     background-attachment: fixed;
     height: 100%;
}

* {
     margin: 0;
     padding: 0;
}

#container {
     min-height: 100%;
}

#main {
     overflow: auto;
     padding-bottom: 110px;
}
 
.portfolio-picture {
     background: url("../images/portfolio-picture.jpg") center center;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100%;
     padding: 20px;
     border-radius: 50%;

     animation-name:portfolio-pucture-zoom;
     animation-duration: 5s;
     animation-fill-mode: backwards;
}

 @keyframes portfolio-pucture-zoom {
     from { transform: scale(1.1); }
     to { transform: scale(1); }
}
 
.portfolio-name {
     padding-top: 40px;
     padding-bottom: 40px;
     margin: auto;
     text-align: center;
     color: #f8f8f8;
     text-shadow: 2px 2px rgb(0, 0, 0);
     font-family: 'Economica', sans-serif;
     font-weight: 700;
     font-size: 80px;
}

.circle-container {
     width: 260px;
     height: 260px;
     padding: 20px;
     border-style: solid;
     border-color: #F8F8FF;
     border-width: 1px;
     border-radius: 50%;
     margin: 15% auto;
     margin-right: -30px;
     
}

@media only screen and (max-width: 1000px) {
     .circle-container {
     border-style: solid;
     width: 260px;
     height: 260px;
     padding: 20px;
     border-width: 1px;
     border-radius: 50%;
     margin: 10% auto;
     }

}

/*--------------------Section-----------------------*/

.btn-secondary {
     background-color: #529c90;
     color: #f8f8f8;
     border: #529c90;
}

.sub-text {
     max-width: 60%;
     text-align: center;
     color: #f8f8f8;
     margin: auto;
     padding-bottom: 30px;
     font-family: sans-serif;
}

.header-one {
     color: #f8f8f8;
     text-shadow: 1px 1px black;
     text-align: center;
     font-family: sans-serif;
}

#header-one {
     padding-bottom: 70px;
     font-family: sans-serif;
}

/*------------------------Contact-------------------------*/

 .showcase-inner {
     margin-bottom: 30px;
     margin-top: 30px;
     margin-left: 60px;
     margin-right: 60px;
     padding-top: 20px;
      
 }

 .inner-row {
     padding-top: 30px;
     padding-bottom: 30px;
     margin: auto;
     background: rgba(0, 0, 0, 0.404);
     border-radius: 2%; 
     width: 50rem;
 }

 .center-form {
     padding-top: 10px;
     margin: 0 auto;
     max-width: 60%;
     
 }

 #row {
     margin-right: 0px !important;
     margin-left: 0px !important;
 }
/*-------braking point for tablet and iphone------*/

@media only screen and (max-width: 980px) {
     .inner-row {
     margin-left: 15px;
     margin-right: 15px;
     }
     
}

@media only screen and (max-width: 414px) {
     .showcase-inner {
          margin-right: 5px;
          margin-left: 5px;
     }
     
}
/*---------------------------------------------*/

#name, #email {
     margin-bottom: 5px;
}

/* ----------------------------Contact-button-------------------------*/

 button[type="submit"] {
     margin-top: 15px;
     margin-bottom: 20px;
     color: #f8f8f8;
     background-color: #529c90;
 }
 
 /*-------------------------Resume---------------------------*/
 
 .personal-info-item {
     display: inline-block;
     margin-bottom: 20px;
 }
 
 .personal-info-item .value {
     padding-right: 25px;
 }
 
 .personal-info-item .value span{
     position: relative;
     margin-bottom: 2px;
 }

 span {
      padding-left: 10px;
 }

.resume-frame {
     margin-bottom: 30px;
     margin-top: 30px;
     margin-left: 60px;
     margin-right: 60px;
}

.left-resume-frame {
     background: rgba(0, 0, 0, 0.541);
     
} 

.right-resume-frame {
     background: rgba(0, 0, 0, 0.404);
     
}

.timeline-heading {
     padding-top: 10px;
     padding-bottom: 10px;
     color: #f8f8f8;
     text-shadow: 1px 1px rgb(0, 0, 0);
     font-weight: 500;
     text-align: left;
     padding-left: 20px;
     background-color: rgba(3, 80, 61, 0.62);
     font-family: sans-serif;
}

.timeline-frame {
     padding-top: 0px;
     padding-left: 40px;
     padding-right: 40px;
 }
 
 #timeline-frame {
     padding-top: 40px;
}

.timeline-item {
     padding: 10px 0px 10px 55px;
     position: relative;
     color: #f8f8f8;
     font-family: sans-serif;
}
 
.timeline-item p {
     padding: 0;
     margin: 0;
     font-family: "Exo", sans-serif;
}

.timeline-item a {
     color: #f8f8f8;
     font-family: "Exo", sans-serif;
}

.timeline-item li {
     padding-top: 5px;
}

#timeline-ul {
     padding-left: 70px !important;
     padding-top: 0px;
}
/*----------breaking point for iphone 5 and X---------*/
@media only screen and (max-width: 375px) {
     .resume-frame {

     margin-bottom: 30px;
     margin-top: 30px;
     margin-left: 13px;
     margin-right: 13px;

     }
}

/*---------------------Software------------------------*/

#software {
     color: #f8f8f8;
     padding: 0px 50px 0px 0px;
}

dt {
     font-weight: normal !important;
}

.software-text {
     max-width: 100%;
}

.software-title.underline:before {
     width: 40px;
}

.software-name:after {
     background-color: #c5c5c5;
     content: '';
     display: block;
     height:1rem;
     position: relative;
     top: 3px;
     width: 100%;
}

.skill-percent {
     font-size: 0;
     height: 1rem;
     position: relative;
     top: -.8rem;
     transition: 3s linear;
     width: 0;
     background-color: rgba(3, 80, 61, 0.62);
}

/*--------------------Projects-----------------------*/

.card-container {
     margin-bottom: 25px;
}


.projects-frame {
     margin-bottom: 30px;
     margin-top: 30px;
     margin-left: 60px;
     margin-right: 60px;
}

/*col-sm*/
@media (max-width: 576px) {
     .projects-frame {
          margin-bottom: 30px;
          margin-top: 30px;
          margin-left: 15px;
          margin-right: 15px;
     }
}

.card {
     position: relative;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-direction: column;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid rgba(0, 0, 0, 0.541);
     border-radius: .25rem;
     background: rgba(0, 0, 0, 0.541);
     width: 18rem;
}

.img-frame {
     padding: 25px 25px 0px 25px;
     background: none;
}

.card-img-top {
     border-radius: 10px;
}

.card-body {
     color: #f8f8f8;
     background: none;
}

.card a {
     margin-right: 20px !important;
}

.card-title {
     color: #f8f8f8;
}

.card-text {
     color: #f8f8f8;
}

.html-dot {
     color: #e34c26;
}

.css-dot {
     color: #563d7c;
}

.js-dot {
     color: #f1e05a;
}

.py-dot {
     color: #3572A5;
}

.github-card__metas span:first-child {
     padding-left: 0;
}

.card-languages span:first-child {
     padding-left: 0;
}

.github-card {
     display: block;
     box-sizing: border-box;
     text-decoration: none;
     font-size: 13px;
     flex: 1;
     min-width: 250px;
}
   

/*---------------------About------------------------*/

.about-frame {
     background: rgba(0, 0, 0, 0.404);
     margin: 30px 60px 50px 60px;
}

.about-text {
     padding: 25px 35px 20px 35px;
     position: relative;
     color: #f8f8f8;
     font-family: sans-serif;
}

.about-text p {
     padding: 0;
     font-family: "Exo", sans-serif;
     font-size: 13px;
}

/*col-lg-12*/
@media (min-width: 960px) {
      .about-frame {
          margin: 30px 150px 50px 150px;
     }
     .about-text {
          padding: 25px 60px 20px 60px;
     }
}

/*col-xl-12*/
@media (min-width: 1140px) {
     .about-frame {
          margin: 30px 150px 50px 150px;
     }
     .about-text {
          padding: 25px 60px 20px 60px;
     }
}

     
/*---------------------Footer------------------------*/

#footer {
     background: rgba(0, 0, 0, 0.493);
     position: relative;
     height: fit-content;
     clear: both;
     text-align: center;
     padding-top: 20px;    
}

#footer p {
     color: #f8f8f8;
     font-size: 14px;
     font-family: sans-serif;
}

#footer h5 {
     font-size: 20px;
     color: #f8f8f8;
     font-family: sans-serif;
}

.social-links i {
     color: #f8f8f8;
     text-align: center;
     letter-spacing: 10px;
     font-size: 22px;
     margin: 5px;
     cursor: pointer;
}

.social-links i:hover {
     color: rgb(134, 144, 163);
}

.fa-download {
     color: #f8f8f8;
     text-align: center;
     letter-spacing: 15px;
     font-size: 22px;
     margin-bottom: 10px;
     padding-top: 5px;
     cursor: pointer;
}

.fa-download:hover {
     color: rgb(134, 144, 163);
     cursor: pointer;
}


/* --------------- Return To Top Btn --------------- */

#return-to-top {
     position: fixed;
     bottom: 20px;
     right: 5px;
     background: rgb(75 179 140);
     background: rgb(0 0 0 / 29%);
     width: 50px;
     height: 50px;
     display: block;
     text-decoration: none;
     -webkit-border-radius: 35px;
     -moz-border-radius: 35px;
     border-radius: 35px;
     display: none;
     -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
     cursor: pointer;
   }
   
   #return-to-top i {
     color: #fff;
     margin: 0;
     position: relative;
     left: 16px;
     top: 13px;
     font-size: 19px;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
   }
   
   #return-to-top:hover {
     background: rgba(3, 80, 61, 0.62);
   }
   
   #return-to-top:hover i {
     color: #fff;
   }