
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Economica|Exo&display=swap');

/*-------------background picture and portfolio picture----------------------*/

html, body {
     background: linear-gradient( rgba(3, 80, 61, 0.62), rgba(3, 80, 61, 0.62)),  url(../images/background-picture.jpg) no-repeat;
     background-size: cover;
     position: relative;
     background-position: center;
     background-attachment: fixed;
     height: 100%;
}

* {
     margin: 0;
     padding: 0;
}

#container {
     min-height: 100%;
}

#main {
     overflow: auto;
     padding-bottom: 110px;
}
 
.portfolio-picture {
     background: url("../images/portfolio-picture.jpg") center center;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100%;
     padding: 20px;
     border-radius: 50%;

     animation-name:portfolio-pucture-zoom;
     animation-duration: 5s;
     animation-fill-mode: backwards;
}

 @keyframes portfolio-pucture-zoom {
     from { transform: scale(1.1); }
     to { transform: scale(1); }
}
 
.portfolio-name {
     padding-top: 40px;
     padding-bottom: 40px;
     margin: auto;
     text-align: center;
     color: #f8f8f8;
     text-shadow: 2px 2px rgb(0, 0, 0);
     font-family: 'Economica', sans-serif;
     font-weight: 700;
     font-size: 80px;
}

.circle-container {
     width: 260px;
     height: 260px;
     padding: 20px;
     border-style: solid;
     border-color: #F8F8FF;
     border-width: 1px;
     border-radius: 50%;
     margin: 15% auto;
     margin-right: -30px;
     
}

@media only screen and (max-width: 1000px) {
     .circle-container {
     border-style: solid;
     width: 260px;
     height: 260px;
     padding: 20px;
     border-width: 1px;
     border-radius: 50%;
     margin: 10% auto;
     }

}

/*--------------------Section-----------------------*/

.sub-text {
     max-width: 60%;
     text-align: center;
     color: #f8f8f8;
     margin: auto;
     padding-bottom: 30px;
     font-family: sans-serif;
}

.header-one {
     color: #f8f8f8;
     text-shadow: 1px 1px black;
     text-align: center;
     font-family: sans-serif;
}

#header-one {
     padding-bottom: 70px;
     font-family: sans-serif;
}

/*------------------------Contact-------------------------*/

.center-form {
     padding-top: 10px;
     margin: 0 auto;
     max-width: 60%;
 }
 
.showcase-inner {
     max-width: 800px;
     margin: auto;
     overflow: hidden;
     padding: 60px;
     text-align: center;
     background: rgba(0, 0, 0, 0.404); 
     margin-bottom: 30px; 
     margin-top: 30px; 
     border-radius: 2%; 

     
}

/*-------braking point for tablet and iphone------*/
@media only screen and (max-width: 768px) {
     .showcase-inner {
     max-width: 600px;
     margin: auto;
     overflow: hidden;
     padding: 60px;
     text-align: center;
     background: rgba(0, 0, 0, 0.404); 
     margin-bottom: 30px; 
     margin-top: 30px; 
     border-radius: 2%; 
     }
     .center-form {
     padding-top: 10px;
     margin: 0 auto;
     max-width: 90%;
     }
     #sub-text {
     max-width: 90%;
     
     }
}
/*---------------------------------------------*/

#fullname, #emailaddress {
     margin-bottom: 5px;
}

/* ----------------------------Contact-button-------------------------*/

.btn {
     display: inline-block;
     border: none;
     background-color: #f8f8f8;
     color: black;
     padding: 0.75rem 1.5rem;
     margin-top: 1rem;
     text-decoration: none;
     transition:  0.5s ease-in;
}

.btn:hover {
     opacity: 1;
}

 button[type="submit"] {
     margin-top: 15px;
     margin-bottom: 20px;
     color: #f8f8f8;
     background-color: #529c90;
 }
 
 /*-------------------------Resume---------------------------*/

.resume-frame {
     margin-bottom: 30px;
     margin-top: 30px;
     margin-left: 60px;
     margin-right: 60px;
}

.left-resume-frame {
     background: rgba(0, 0, 0, 0.541);
     
} 

.right-resume-frame {
     background: rgba(0, 0, 0, 0.404);
     
}

.timeline-heading {
     padding-top: 10px;
     padding-bottom: 10px;
     color: #f8f8f8;
     text-shadow: 1px 1px rgb(0, 0, 0);
     font-weight: 500;
     text-align: left;
     padding-left: 20px;
     background-color: rgba(3, 80, 61, 0.62);
     font-family: sans-serif;
}

.timeline-frame {
     padding-top: 0px;
     padding-left: 40px;
     padding-right: 40px;
 }
 
 #timeline-frame {
     padding-top: 40px;
}

.timeline-item {
     padding: 10px 0px 10px 55px;
     position: relative;
     color: #f8f8f8;
     font-family: sans-serif;
}
 
.timeline-item p {
     padding: 0;
     margin: 0;
     font-family: "Exo", sans-serif;
}

.timeline-item a {
     color: #f8f8f8;
     font-family: "Exo", sans-serif;
}

.timeline-item li {
     padding-top: 5px;
}

#timeline-ul {
     padding-left: 70px !important;
     padding-top: 0px;
}
/*----------breaking point for iphone 5 and X---------*/
@media only screen and (max-width: 375px) {
     .resume-frame {

     margin-bottom: 30px;
     margin-top: 30px;
     margin-left: 13px;
     margin-right: 13px;

     }
}
/*---------------------Footer------------------------*/

#footer {
     background: rgba(0, 0, 0, 0.493);
     position: relative;
     height: fit-content;
     clear: both;
     text-align: center;
     padding-top: 20px;    
}

#footer p {
     color: #f8f8f8;
     font-size: 14px;
     font-family: sans-serif;
}

#footer h5 {
     font-size: 20px;
     color: #f8f8f8;
     font-family: sans-serif;
}

.social-links i {
     color: #f8f8f8;
     text-align: center;
     letter-spacing: 10px;
     font-size: 22px;
     margin: 5px;
     
}

.social-links i:hover {
     color: rgb(134, 144, 163);
}

.fa-download {
     color: #f8f8f8;
     text-align: center;
     letter-spacing: 15px;
     font-size: 22px;
     margin-bottom: 10px;
     padding-top: 5px;
}

.fa-download:hover {
     color: rgb(134, 144, 163);
}