
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Economica|Exo&display=swap');

body {
     background: linear-gradient( rgba(3, 80, 61, 0.62), rgba(3, 80, 61, 0.62)),  url(../images/background-003.jpg) no-repeat;
     background-size: cover;
     
     font-family: sans-serif;
     line-height: 1.4em;
}

 /*----------------------Heading index----------------------*/
 
 .picture-of-me {
     background: url("../images/IMG_9595.jpg") center center;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100%;
     padding: 20px;
     border-radius: 50%;

     animation-name:picture-of-me-zoom;
     animation-duration: 5s;
     animation-fill-mode: backwards;
 }

 @keyframes picture-of-me-zoom {
     from { transform: scale(1.1); }
     to { transform: scale(1); }
}
 
 .name-header {
      padding-top: 40px;
      padding-bottom: 40px;
      margin: auto;
      text-align: center;
      color: #f8f8f8;
      text-shadow: 2px 2px rgb(0, 0, 0);
      font-family: 'Economica', sans-serif;
      font-weight: 700;
      font-size: 85px;
 }

#circle-container {
     width: 260px;
     height: 260px;
     padding: 20px;
     border-style: solid;
     border-color: #F8F8FF;
     border-width: 1px;
     border-radius: 50%;
     margin: 15% auto;
}

#circle-container p {
     margin: 25px 0px 0px 0px;
     font-size: 30px;
     list-style: none;
     letter-spacing: 1px;
     width: 200px;
}

#header-picture {
     width: 100%;
     max-height: 100%;
     margin: 0;
     padding: 0;
}

/*--------------------Section index-----------------------*/

.about-me-column {
     color: #f8f8f8;
     text-shadow: rgb(0, 0, 0);
     text-align: center;
}

.about-me-text {
     max-width: 50%;
     text-align: center;
     color: #f8f8f8;
     margin: auto;
     padding-bottom: 40px;
}

@media only screen and (max-width: 375px) {
     .about-me-text {
          max-width: 85%;
          text-align: center;
          color: #f8f8f8;
          margin: auto;
          padding-bottom: 30px;
     }

}

.about-me-heading {
     color: #f8f8f8;
     text-shadow: 1px 1px black;
     text-align: center;
     
}

#test {
     background: rgba(0, 0, 0, 0.404);
     border-radius: 2%;
}

/*------------------------Contact-------------------------*/

.center-form {
     padding-top: 10px;
     margin: 0 auto;
     max-width: 60%;
 }
 
.showcase-inner {
     max-width: 800px;
     margin: auto;
     overflow: hidden;
     padding: 60px;
     text-align: center;
     background: rgba(0, 0, 0, 0.404);
     margin-bottom: 30px;
     margin-top: 30px;
     border-radius: 2%;
}

.contact-header {
     color: #f8f8f8;
     text-shadow: 1px 1px black;
     font-size: 40px;
     text-align: center;
}

.contact-text {
     color: #f8f8f8;
     text-align: center;
     max-width: 60%;
     margin: auto;
     padding-bottom: 5px;
}

#fullname {
     margin-bottom: 5px;
}

#emailaddress {
     margin-bottom: 5px;
}

/* ----------------------------Contact-button-------------------------*/

.btn {
     display: inline-block;
     border: none;
     background-color: #f8f8f8;
     color: black;
     padding: 0.75rem 1.5rem;
     margin-top: 1rem;
     text-decoration: none;
     transition:  0.5s ease-in;
}

.btn:hover {
     opacity: 1;
}

 button[type="submit"] {
     margin-top: 15px;
     margin-bottom: 20px;
     color: #f8f8f8;
     background-color: #529c90;
 }
 
 /*-------------------------Resume---------------------------*/
 .container {
      margin-bottom: 30px;
      margin-top: 30px;
 }
 .history-heading {
     padding-top: 10px;
     padding-bottom: 10px;
     color: #f8f8f8;
     text-shadow: 1px 1px rgb(0, 0, 0);
     font-weight: 500;
     text-align: left;
     padding-left: 20px;
     background-color: rgba(3, 80, 61, 0.62);
 }

 .history-heading-box {
     padding-top: 40px;
     padding-left: 40px;
     padding-right: 40px;
 }
 
 .timeline-item {
     padding: 35px 0px 0px 55px;
     position: relative;
     color: #f8f8f8;
 }
 
 .timeline-item p {
     padding: 0;
     margin: 0;
     font-family: "Exo", sans-serif;
 }
 
 .skills-text {
     color: #f8f8f8;
     text-align: center;
     font-size: large;
     text-shadow: 1px 0px black;
 }

.resume-name {
     color: #f8f8f8;
     text-shadow: 2px 2px rgb(0, 0, 0);
     font-family: 'Economica', sans-serif;
     font-weight: 700;
     font-size: 85px;
     text-align: center;
     padding-top: 30px;
}

.first-collum {
     background: rgba(0, 0, 0, 0.541);
     
} 

.second-collum {
     background: rgba(0, 0, 0, 0.404);
     
}

.details-heading-upper {
     text-align: center;
     color: #f8f8f8;
     text-shadow: 1px 1px rgb(0, 0, 0);
     padding-bottom: 50px;
}

.details-heading {
     text-align: center;
     color: #f8f8f8;
     text-shadow: 1px 1px rgb(0, 0, 0);
}

.personal-info-text {
     padding-bottom: 10px;
     text-align: center;
     color: #f8f8f8;
     max-width: 80%;
     margin: auto;
}

.btn-group-collum {
     text-align: center;
}

.skills-info {
     padding-bottom: 10px;
     text-align: left;
     color: #f8f8f8;
     margin: auto;
     padding: 35px 0px 0px 55px;
     font-family: "Exo", sans-serif;
}

.Certifications  {
     list-style-type: none;
     padding: 35px 0px 35px 55px;
}

.Certifications a {
     color: #f8f8f8;
     font-family: "Exo", sans-serif;
}

.Certifications li {
     padding-top: 5px;
}


/*---------------------Footer------------------------*/

footer {
     width: 100%;
     overflow: hidden;
     min-height: 100px;
     margin: 0;
     text-align: center;
     padding-top: 20px;
     padding-bottom: 10px;
     background: rgba(0, 0, 0, 0.493);
}

footer p {
     color: #f8f8f8;
     font-size: 14px;
}

footer h5 {
     font-size: 20px;
     color: #f8f8f8;  
}

.social-links i {
     color: #f8f8f8;
     text-align: center;
     letter-spacing: 10px;
     font-size: 22px;
     margin: 5px;
}

.social-links i:hover {
     color: rgb(134, 144, 163);
}

.fa-download {
     color: #f8f8f8;
     text-align: center;
     letter-spacing: 15px;
     font-size: 22px;
     margin-bottom: 10px;
}

.fa-download:hover {
     color: rgb(134, 144, 163);
}
